<div class="fondoPrincipal" id="fondoPrincipal">    
    <form class="example-form">
        <h3 class="titulo">Inicio de Sesión</h3>
      <div class="input">
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Ingresa el correo electronico">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ingresa la contraseña" >
        </mat-form-field>
      </div>
        <div class="example-button-row">
            <button mat-flat-button>Iniciar sesión</button>
            <span class="olvidoContraseña"><a class="OlvidasteLink" href="#">¿Has olvidado tu contraseña?</a></span>
        </div>
        <div class="botones">
          <button mat-raised-button>Registrar</button>
        </div>
    </form>
  </div>
  